@mixin hoveredItem()
  opacity: 0.8
  background-color: #6E6D70
  filter: brightness(1.2)

@mixin buttonsPointer()
  cursor: pointer

@mixin navigationColor()
  background-color: #18182b

@mixin dashboardItems()
  background-color: white
  border-radius: 10px
  justify-content: space-around
  display: flex
  @include buttonsPointer()

.home
  height: 100%
  width: 100%
  display: flex

.navbar
  height: 100%
  width: 10%
  display: flex
  align-items: center
  flex-direction: column
  @include navigationColor()

  &__title
    background-image: url("icons/Bitcoin_logo.svg.png")
    display: flex
    width: 100px
    height: 30px
    background-repeat: no-repeat
    background-size: contain
    background-position: center
    border-radius: 20px

  &__item
    width: 90%
    height: 10%
    display: flex
    justify-content: center
    align-items: center
    border-bottom-style: groove

  &__button
    width: 90%
    height: 30px
    margin: 7px
    display: flex
    align-items: center
    transition: filter 300ms
    font-weight: bold
    border-radius: 5px
    gap: 5px
    color: white
    @include buttonsPointer()

.context
  display: flex
  width: 90%
  height: 100%
  flex-direction: column
  overflow-y: auto

  &__navigation
    width: 100%
    height: 5%
    display: flex
    justify-content: flex-end
    align-items: center
    gap: 10px
    background-color: white

    &--item
      display: flex
      border-radius: 20px
      padding: 4px
      transition: filter 300ms
      @include buttonsPointer()

.dashboard
  display: flex
  width: 100%
  height: 95%
  max-height: 95%
  background-color: rgba(255, 255, 255, 0.86)
  align-items: center
  justify-content: center
  flex-direction: column
  overflow-y: auto

  &__container
    display: flex
    width: 85%
    min-height: 80%
    flex-wrap: wrap
    justify-content: space-evenly
    gap: 10px

  &__item
    min-width: 200px
    height: 100px
    padding: 5%
    @include dashboardItems()

    &--description
      display: flex
      flex-direction: column
      justify-content: space-between

    &--icon
      display: flex
      border-radius: 20px
      width: 40px
      height: 40px
      padding: 4px
      transition: filter 300ms
      justify-content: center
      align-items: center

    &--big-value
      font-weight: bold
      font-size: xx-large

.chart-container
  width: 600px
  height: 400px
  justify-content: space-around
  @include dashboardItems()
  align-items: center
  flex-direction: column

  &__title
    display: flex
    width: 100%
    border-bottom-style: groove
    height: 60px

  &__crypto-names
    display: flex
    width: 100%
    height: 30px
    align-items: center
    justify-content: center
    gap: 5px

    &--container
      width: auto
      display: flex
      padding: 5px
      align-items: center
      justify-content: center
      gap: 5px

  &__chart
    display: flex
    height: 50%

.navbar__button:hover
  @include hoveredItem

.context__navigation--item:hover
  @include hoveredItem

@media only screen and (max-width: 1157px)
  .home
    flex-direction: column

  .navbar
    flex-direction: row
    width: 100%
    height: 5%

  .navbar__item
    border-style: none

  .context
    width: 100%